body {
    font-family: Arial, sans-serif;
    background-color: lightgreen;
}

.container {
    display: flex;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h4 {
    color: #333;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: limegreen;
    font-weight: bold;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="submit"] {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}
